$family:      'Open Sans', Tahoma, sans-serif
$colorMain:   #161616
$colorDark:   #555
$colorRed:    #e9392c
$colorGreen:  #43b20f
$colorBlue:   #0777b2
$colorGray:   #ccc

=font($size: null, $weight: null, $family: null)
  font:
    @if ($size != null)
      size: $size
    @if ($weight != null)
      weight: $weight
    @if ($family != null)
      family: $family

=flex($display: flex, $align: center, $justify: center)
  @if ($display != null)
    display: $display
  @if ($align != null)
    align-items: $align
  @if ($justify != null)
    justify-content: $justify

=hover
  &:hover
    @content

=focus-active
  &:focus,
  &:active
    @content

=hover-focus-active
  &:hover,
  &:focus,
  &:active
    @content

=media-down($max)
  @if $max
    @media (max-width: $max)
      @content

=media-up($min)
  @if $min
    @media (min-width: $min)
      @content

=media($min, $max)
  @if $min != null and $max != null
    @media (min-width: $min) and (max-width: $max)
      @content

