@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=cyrillic')
@import "mix"

*,
*::before,
*::after
  box-sizing: border-box

html,
body
  padding: 0
  margin: 0
  width: 100%
  height: 100%
  color: $colorMain
  background-color: #fff
  line-height: 1.25
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  -ms-overflow-style: scrollbar
  @include font(16px, 400, $family)

.icon
  display: inline-block
  width: 1em
  height: 1em
  stroke-width: 0
  stroke: currentColor
  fill: currentColor

app-root
  display: block
  position: relative
  max-width: 825px
  height: 100%
  margin: 0 auto

app-header
  display: block

input[type=text]
  outline: none