<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-drop" viewBox="0 0 32 32">
      <path fill="#fff" d="M5.136 0v32h21.76v-32h-21.76zM25.936 23.808c-0.32 1.28-0.896 2.496-1.728 3.52-0.832 1.088-1.856 1.984-3.072 2.688-1.536 0.896-3.328 1.344-5.056 1.344-1.792 0-3.52-0.512-5.056-1.28-1.6-0.896-2.944-2.176-3.84-3.776s-1.408-3.392-1.408-5.184c0-1.728 0.512-3.456 1.408-4.928l8.832-15.552 8.896 15.424c0.704 1.152 1.088 2.496 1.344 3.84 0.064 1.28 0 2.56-0.32 3.904z"></path>
      <path d="M16.016 2.304l8.128 14.208c0.64 1.088 1.024 2.304 1.216 3.52 0.128 1.216 0.064 2.432-0.256 3.584-0.32 1.216-0.832 2.304-1.6 3.2-0.768 1.024-1.728 1.856-2.816 2.496-1.408 0.832-3.072 1.28-4.608 1.28-1.664 0-3.264-0.448-4.608-1.216-1.472-0.832-2.688-2.048-3.52-3.456-0.832-1.472-1.28-3.136-1.28-4.736s0.448-3.2 1.28-4.544l8.064-14.336zM16.016 0c-0.256 0-0.512 0.128-0.64 0.384l-8.832 15.36c-1.856 3.2-1.984 7.36 0 10.816 2.048 3.456 5.696 5.44 9.472 5.44 1.856 0 3.648-0.448 5.376-1.472 5.184-3.008 7.040-9.6 4.032-14.848l-8.832-15.36c-0.064-0.192-0.32-0.32-0.576-0.32z"></path>
    </symbol>
  </defs>
</svg>