@import "../../mix"

.header
  &__block
    display: grid
    grid-template-columns: 135px 1fr
    grid-column-gap: 25px

.drop
  &__container
    &--slide
      display: grid
      grid-template-columns: repeat(4, max-content)
      grid-column-gap: 20px
  &__group
    display: grid
    grid-template-columns: repeat(2, 1fr)
  &__item
    text-align: center
    width: 70px
    overflow: hidden
    &--input
      padding: 0
      width: 50px
      height: 30px
      text-align: center
      @include font(14px, null, $family)
  &__image
    position: relative
    width: 40px
    height: 53px
    margin: 0 auto 10px
    overflow: hidden
    @include font(53px)
    &--icon
      position: relative
      left: -8px
      z-index: 2
      color: $colorRed
    &--count
      position: relative
      left: 1px
      width: 35px
      height: 53px
      background-color: $colorRed
      transform: translateY(-47px)
    &--code
      margin-bottom: 10px
      @include font(null, 600)

