.header__block {
  display: grid;
  grid-template-columns: 135px 1fr;
  grid-column-gap: 25px; }

.drop__container--slide {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-column-gap: 20px; }
.drop__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
.drop__item {
  text-align: center;
  width: 70px;
  overflow: hidden; }
  .drop__item--input {
    padding: 0;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    font-family: "Open Sans", Tahoma, sans-serif; }
.drop__image {
  position: relative;
  width: 40px;
  height: 53px;
  margin: 0 auto 10px;
  overflow: hidden;
  font-size: 53px; }
  .drop__image--icon {
    position: relative;
    left: -8px;
    z-index: 2;
    color: #e9392c; }
  .drop__image--count {
    position: relative;
    left: 1px;
    width: 35px;
    height: 53px;
    background-color: #e9392c;
    transform: translateY(-47px); }
  .drop__image--code {
    margin-bottom: 10px;
    font-weight: 600; }

/*# sourceMappingURL=header.component.css.map */
